html, body {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
}
body {
    border: 1px solid blue;
    transform: scale(1);
}
#play {
    height: 100px;
    width: 100px;
    border: 1px solid red;
}