html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit; 
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}
p {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
.sticky {
  line-height: 1;
  text-align: center;     
  width: 150px;    
  margin: 15px;    
  min-height: 150px;
  max-height: 150px;
  padding: 20px 10px;
  position: relative;   
  border: 1px solid #E8E8E8;  
  border-top: 5px solid #fdfd86;
  font-family:'Reenie Beanie', cursive;    
  font-size: 1.3em;      
  border-bottom-right-radius: 60px 5px;
  display: inline-block;    
  background: #ffff88;
  white-space: wrap;
  text-overflow: ellipsis;
  /* transform: rotate(-1deg); */
}
.sticky:after {     
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px; 
  bottom: 15px;
  width: 100px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.sticky:hover {
  background: #ffff44; 
}